aioboto3
aiobotocore
aiofiles
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
annotated-types
antlr4-python3-runtime
anyio
attrs
beautifulsoup4
bespokelabs
bespokelabs-curator
blobfile
boto3
botocore
certifi
charset-normalizer
chess
click
datasets
debugpy
dill
distro
docstring_parser
filelock
frozendict
frozenlist
fsspec
h11
h2
hf-xet
hpack
httpcore
httpx
huggingface-hub
hyperframe
idna
ijson
inspect_ai
Jinja2
jiter
jmespath
joblib
jsonlines
jsonpatch
jsonpath-ng
jsonpointer
jsonref
jsonschema
jsonschema-specifications
latex2sympy2_extended
linkify-it-py
lxml
markdown-it-py
MarkupSafe
math-verify
mdit-py-plugins
mdurl
mmh3
mpmath
multidict
multiprocess
nest-asyncio
networkx
nltk
numpy
openai
packaging
pandas
pathlib_abc
platformdirs
ply
propcache
psutil
pyarrow
pycryptodomex
pydantic
pydantic_core
Pygments
pylatexenc
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
rich
rpds-py
s3fs
s3transfer
safetensors
scipy
semver
setuptools
shortuuid
six
sniffio
soupsieve
sympy
tenacity
termcolor
TextArena
textual
tinker
-e git+https://github.com/thinking-machines-lab/tinker-cookbook.git@0adfc25b7e1ea99d3ec4aab311516fab8c5e5120#egg=tinker_cookbook
tokenizers
torch
tqdm
transformers
typing-inspection
typing_extensions
tzdata
uc-micro-py
universal_pathlib
urllib3
websockets
wrapt
xxhash
yarl
zipp
